@import "tailwindcss";

:root {
  --background: #f1f1f2;
  --foreground: #494949;
  --primary: #64bfc9;
  --secondry: #00d0e7;

}

.dark {
  background: #494949;
  color: #f1f1f2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
  --font-sans: var(--font-inter);
  --font-mono: var(--font-lusitana);
  --color-primary: var(--primary);
  --color-secondry: var(--secondry);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* تنظیم خودکار دارک مود بر اساس سیستم کاربر */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #303030;
    --foreground: #ededed;
  }
} */

@media(max-width: 640px){
  html{
    font-size: 12px;
  }
}